<h2><%= link_to 'Reportes', reportes_path %>: Agenda de actividades</h2>

<style>
  #calendarReport li.issue {
      border-bottom: 1px solid #dddddd;
  }
  #calendarReport li.issue .done_ratio{
      margin-right: 1em;
  }
  #calendarReport li.issue .link {
      display: inline-block;
      min-width: 4em;
      text-align: center;
  }
  #calendarReport li.issue strong {
      margin: 0 1em;
  }
  #calendarReport div.description {
      padding: 0.2em 0.5em;
  }

  ul ul {
      display: none;
  }
  ul.expanded {
      display: block;
  }
  li.expansible {
      cursor: pointer;
  }
  li.expansible .link, li.expansible .done_ratio {
      font-weight: bold;
  }
  li.expansible strong {
      text-decoration: underline;
  }
  #statusbar button{
      float: right;
  }
</style>

<hr>
<label><strong>Del</strong> <input id="fechaReporteDel" type="date" value="<%= @date_from %>"></label>
<label> <strong>al</strong> <input id="fechaReporteAl" type="date" value="<%= @date_to %>"></label>

<select id="projects">
  <% @allprojects.each do |project| %>
      <option <%= 'selected' if project.id == @direccion.id %> value="<%= project.identifier %>"><%= project %></option>
  <% end %>
</select>

<button type="button" id="botonVerReporte">Ver</button>
<hr>

<fieldset id="statusbar">
  <button type="button" id="botonExpandir" title="Expandir">+++</button>
  <button type="button" id="botonColapsar" title="Colapsar">---</button>
  <b>AP</b>: Actividad programada, <b>AI</b>: Actividad institucional, <b>A</b>: Actividad, <b>T</b>: Tarea, <b>E</b>: Evento
</fieldset>

<h2><%= l(:label_activity) %></h2>

<p class="subtitle"><%= l(:label_date_from_to, :start => format_date(@date_from ), :end => format_date(@date_to)) %></p>

<div id="calendarReport">
  <% @direcciones_y_tareas.each do |direccion, issues| %>
    <h3><%= direccion %></h3>
    <%= raw(print_issues_report(issues, @date_from, @date_to)) %>
  <% end %>
</div>
<div style="text-align: center;">
  <!--<button id="descargarenexcel" type="button">Descargar en excel</button>-->
</div>
<br>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, params.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
<% end %>

<% content_for :sidebar do %>

<% end %>

<% html_title(l(:label_activity)) -%>

<script>
    $(function(){
        var $calendarReport = $("#calendarReport");

        $("#botonVerReporte").click(function(){
            var fechaDel = $("#fechaReporteDel").val(),
                    fechaAl  = $("#fechaReporteAl").val(),
                    project  = $("#projects").val();

            window.location.pathname = "reports/calendar/" + fechaDel + "/" + fechaAl + "/" + project;
        });

        $calendarReport.find("ul").each(function(index, element) {
            $(element).prev("li").addClass("expansible");
        });

        $calendarReport.find("li").click(function(){
            var $li = $(this);

            if ($(event.target).is("input")) {
                return;
            }

            $li.next("ul").toggleClass("expanded");
        });

        $("#botonExpandir").click(function(){
            $calendarReport.find("ul").addClass("expanded");
        });
        $("#botonColapsar").click(function(){
            $calendarReport.find("ul").removeClass("expanded");
        });

        $("#descargarenexcel").click(function(){
            window.location.pathname = window.location.pathname + "/excel";
        });
    });
</script>